/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font-family: sans-serif;
	font-size: 14px;
}

/* ---------------------------------------------------- */

.osoba {
	border: 1px rgb(170, 163, 163) solid;
	max-width: 540px;
	border-radius: 30px;
	justify-content: center;
	padding: 20px;
}
@media (min-width=540px) {
	
}